.nav-bar .main-nav {
    padding: 0;
}
.main-nav{
    background: #F6F6ED;
    padding: 0;
    text-align: center;
    margin: 10px -3px;
    overflow: hidden;
}
.main-nav-real{
    background: #F6F6ED;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;

}
.header-main {
    background: #f6f6ed;
    padding: 3px;
    border: 1px solid #444;
    border-radius: 10px;
}
.clearfix {
    content: "";
    display: flow-root;
    clear: both;
}
.col6 {
    width: 46%;
    float: left;
}
.main-Right {
    margin: 0px;
    padding: 0px;
}
.main-Right ul{
	display:inline-block;
}
.main-Right li {
    list-style: none;
    display: block;
    float: left;
}
.main-Right li a {
    text-decoration: none;
    color: #186617;
}
.main-Right li a img {
    width: 80px;
    height: 80px;
}
.main-left-anon h1{
    margin-top: -15px;
}
.m{
	color: #cf3333;
}
.navigation-search{
    text-align: center;
}
.navigation-search input[type=text]{
    margin: 0px auto;
    min-width: 90px;
    width: 50%;
    height: 19px;
}
.main-login-body input[type=text], input[type=submit], input[type=password], input[type=email]{
    border: 1px solid #c8ccc0;
    width: 30%;
    height: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 2px 7px;
}
input[type=text], input[type=submit], input[type=password], input[type=email]{
    border: 1px solid #c8ccc0;
    border-radius: 12px;
    background: #fff;
    padding: 2px 7px;
}
.main-login-body input[type=submit]{
    cursor:pointer;
    height: 35px;
    width: 10%;
}
.main-login-body input[type=submit]:hover {
    background:#e8ece0;

}

input[type=submit]{
    cursor:pointer;
    height: 25px;
    width: 7%;
}

input[type=submit]:hover{
    background:#e8ece0;
}

.form-error{
    color: red;
    font-size: 12px;
}

.main-body-post a{
    color: #171414;
}

.main-body-post a:hover{
    color:#cf3333;
}

.greater-than{
    font-size: 10px;
}