<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ style('css/main-style') }}
    {{style('css/header-main')}}
    {{ style('css/responsive') }}
    {{ style('css/select2/select2.min.css') }}
    {{ script('js/select2.min.js') }}
    {{ script('https://code.jquery.com/jquery-3.4.1.min.js') }}
    

    <title>
        @!section('title')
    </title>
</head>
<body>
    <div class="container">
        @include('layouts.auth-navigation')
    </div>
    <div class="container">
        @!section('content')
    </div>
@include('layouts.footer')