<br>
	<div class="container">
	<div class="main-body">
	    <div class="clearfix">
	        <div class="main-body-post">
	        	<h5>© 2020 Naijaswift Forum - All right reserved.</h5>
	        	<h5>Disclaimer: Every member of Naija Forum is solely responsible for what they post</h5>
	        </div>  
	     </div>                   
	</div>
	</div>

</html>